image: python:3.11-slim

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip

before_script:
  - python --version ; pip --version  # For debugging
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate
  - cd cli-code-api/src
  - pip install -r requirements.txt
  - pip install --editable .
  - cd ../..
  - export GOOGLE_CLOUD_CREDENTIALS=$(echo $GOOGLE_CLOUD_CREDENTIALS)


build-job:
  stage: build
  script:
    - echo "Hello, $GITLAB_USER_LOGIN!"
    - devai echo
    - echo $(pwd)
    - export PROJECT_ID=$(echo $PROJECT_ID)
    - export LOCATION=$(echo $LOCATION)
    - export GOOGLE_CLOUD_CREDENTIALS=$(echo $GOOGLE_CLOUD_CREDENTIALS)
    - echo $GOOGLE_CLOUD_CREDENTIALS > service-account-key.json
    - export GOOGLE_APPLICATION_CREDENTIALS="service-account-key.json"
    - devai review code -c ./cli-code-api/sample-app/src/main/java/anthos/samples/bankofanthos/balancereader
    - devai review performance -c ./cli-code-api/sample-app/src/main/java/anthos/samples/bankofanthos/balancereader
    - devai review security -c ./cli-code-api/sample-app/src/main/java/anthos/samples/bankofanthos/balancereader
