click==8.1.7
google-cloud-aiplatform==1.48.0
jira==3.6.0
python-gitlab==4.4.0
langchain==0.1.8
langchain_google_vertexai==0.0.5
atlassian-python-api==3.41.10

#dotenv



google-cloud-aiplatform
langchain
faiss-cpu
nbformat
langchain-community
langchain-google-vertexai
langchain_google_genai
langchain-community
chromadb

langchain
chromadb
tiktoken
PyGithub
google-generativeai

gitdb==4.0.11
GitPython==3.1.43

google-cloud-secret-manager==2.16.1
google-crc32c==1.5.0